{% extends '/base.html.twig' %}

{% block title %}
    PopWeb - À propos
{% endblock %}
{% block gtag %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107718823-2');
</script>
{% endblock %}
{% block meta_description %}<meta name="description" content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}<meta name="keywords" content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}<meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}<meta name="google" content="unavailable_after: [date ]">{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    <div class="img-banner">
        <img src="{{ asset('pho/banner-agence.jpg') }}" alt="Bannière agence" class="banner">
        <div class="text">
            <h1>Notre Team</h1>
            <p>Découvrez qui nous sommes.</p>
        </div>
    </div>

    <div class="container about-header mt-50 mb-50">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('pho/groupe.jpg') }}"
                     alt="" class="lazyload">

            </div>
            <div class="col-md-6 align-self-center">
                <h3>Notre ambition </h3>
                <p class="infos-p">
                    PopWeb vous accompagne dans tous vos projets web depuis sa création en octobre 2019. Nos jeunes
                    collaborateurs, passionnés et compétents sont là pour être à l’écoute de vos besoins.
                    <br/>Notre force : <b>la diversité de nos profils</b>.
                    <br/><i>Tous différents, comme vous</i>.

                </p>
            </div>
        </div>
    </div>
    {# <div class="about-header">
        <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
             alt="" class="lazyload">
        <div class="infos">
            <h2 class="infos-h2">Notre ambition </h2>
            <p class="infos-p">
                PopWeb vous accompagne dans tous vos projets web depuis sa création en octobre 2019. Nos jeunes
                collaborateurs, passionnés et compétents sont là pour être à l’écoute de vos besoins.
                <br/>Notre force : <b>la diversité de nos profils</b>.
                <br/><i>Tous différents, comme vous</i>.

            </p>
        </div>
    </div> #}
    <div class="container card-trombi-grid">

        <div class="card-trombi">
            <img id="imgCloe" src="{{ asset("pho/cloe.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Cloé</h2>
                <h4 class="card-trombi-status">Chef de projet</h4>
                <p class="card-trombi-quote">"Dans notre domaine, on ne s'ennuie jamais!"</p>
                <div class="card-trombi-socialLink">
                    <span class="mail"><a href="mailto:cloelh@outlook.fr"><i class="fas fa-envelope"></i></a></span>
                    <span class="linkedin"><a href="https://www.linkedin.com/in/cloe-lhenry-66ab87144/" target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
                </div>
            </div>:
        </div>

        <div class="card-trombi">
            <img id="imgSaid" src="{{ asset("pho/said.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Said</h2>
                <h4 class="card-trombi-status">Développeur Full Stack</h4>
                <p class="card-trombi-quote">"Chaque problème à sa solution"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com/in/said-ladghem/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i
                                    class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.ga" target="_blank"><i
                                    class="fas fa-border-all"></i></a></span>
                </div>
            </div>
        </div>

        <div class="card-trombi">
            <img id="imgLison" src="{{ asset("pho/lison.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Lison</h2>
                <h4 class="card-trombi-status">Front-End Designer</h4>
                <p class="card-trombi-quote">"Chaque projet est un nouveau défi"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com/in/lisondagostini/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:lison.dagostini@gmail.com"><i
                                    class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="http://www.lisondagostini.com/" target="_blank"><i
                                    class="fas fa-border-all"></i></a></span>
                </div>
            </div>
        </div>

        <div class="card-trombi">
            <img id="imgLoick" src="{{ asset("pho/loick.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Loïck</h2>
                <h4 class="card-trombi-status">Développeur Back-End</h4>
                <p class="card-trombi-quote">"Un bon développeur est un développeur heureux"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com/in/lo%C3%AFck-app%C3%A9r%C3%A9-640842197/"
                                              target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:loick.appere@outlook.fr"><i
                                    class="fas fa-envelope"></i></a></span>
                </div>
            </div>
        </div>

        <div class="card-trombi">
            <img id="imgLucas" src="{{ asset("pho/lucas.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Lucas</h2>
                <h4 class="card-trombi-status">Designer</h4>
                <p class="card-trombi-quote">"Life is for living"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com/in/lucas-lacroix/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:lacroixlucas59@gmail.com"><i
                                    class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://lucaslacroix.netlify.com/" target="_blank"><i
                                    class="fas fa-border-all"></i></a></span>
                </div>
            </div>
        </div>

        <div class="card-trombi">
            <img id="imgLea" src="{{ asset("pho/lea.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Léa</h2>
                <h4 class="card-trombi-status">Content manager</h4>
                <p class="card-trombi-quote">"Chaque histoire mérite d'être racontée"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com/in/l%C3%A9a-traccoen-691188172/"
                                              target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:leatraccoen@outlook.fr"><i
                                    class="fas fa-envelope"></i></a></span>
                </div>
            </div>
        </div>

        <div class="card-trombi">
            <img id="imgThomas" src="{{ asset("pho/thomas.jpg") }}" alt="" class="lazyload">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Thomas</h2>
                <h4 class="card-trombi-status">Community Manager</h4>
                <p class="card-trombi-quote">"Les projets sont une source de partage"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com/in/thomas-vinet-268697186/"
                                              target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:thomas.vinet60490@gmail.com"><i class="fas fa-envelope"></i></a></span>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
