{% extends '/base.html.twig' %}

{% block title %}
    à propos
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

 <div class="img-banner">
 <img src="{{ asset('pho/banner-agence.png') }}" alt="Bannière agence" class="banner">
 <div class="text">
    <h1>Titre</h2>
    <p>petit texte</p>
    </div>
    </div>

    <div class="about-header">
        <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
             alt="">
        <div class="infos">
            <h2 class="infos-h2">Notre équipe chamallow</h2>
            <p class="infos-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam tempora
                voluptate! Ab dolorum eligendi facilis impedit molestiae numquam similique tempore totam? Assumenda
                dolorem est molestiae nemo quam quasi reiciendis!</p>
        </div>
    </div>
    <div class="container card-trombi-grid">

        <div class="card-trombi">
            <img id="imgSaid" src="{{ asset("pho/said.png") }}"
                 alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Said</h2>
                <h4 class="card-trombi-status">Dévellopeur</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>

        <div class="card-trombi">
            <img id="imgLison" src="{{ asset("pho/lison.png") }}"
                 alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Lison</h2>
                <h4 class="card-trombi-status">UX designeuse</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>
        <div class="card-trombi">
            <img id="imgCloe" src="{{ asset("pho/cloe.png") }}"
                 alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Cloé</h2>
                <h4 class="card-trombi-status">Dévellopeur</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>
        <div class="card-trombi">
            <img id="imgLea" src="{{ asset("pho/lea.png") }}"
            alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Léa</h2>
                <h4 class="card-trombi-status">Dévellopeur</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>

        <div class="card-trombi">
            <img id="imgLucas" src="{{ asset("pho/lucas.png") }}"
            alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Lucas</h2>
                <h4 class="card-trombi-status">Dévellopeur</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in-"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>
        <div class="card-trombi">
            <img id="imgThomas" src="{{ asset("pho/thomas.png") }}"
             alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Thomas</h2>
                <h4 class="card-trombi-status">Dévellopeur</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>

        <div class="card-trombi">
            <img id="imgLoick" src="{{ asset("pho/loick.png") }}"
            alt="">

            <div class="card-trombi-info">
                <h2 class="card-trombi-name">Loïck</h2>
                <h4 class="card-trombi-status">Dévellopeur</h4>
                <p class="card-trombi-quote">"Si ca marche pas... c'est que c'est cassé"</p>
                <div class="card-trombi-socialLink">
                    <span class="linkedin"><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></span>
                    <span class="mail"><a href="mailto:said.ladghem@gmail.com"><i class="fas fa-envelope"></i></a></span>
                    <span class="portefolio"><a href="https://s-ladghem.com"><i class="fas fa-border-all"></i></a></span>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
