{% extends '/base.html.twig' %}

{% block title %}
    Services
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="section--dark">
        <div class="container">
            <h1 class="section--dark__title">Création de site web</h1>
            <div class="services">
                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/surmesure.svg") }}" alt="">
                    <p class="service__item__p1">Site web sur mesure</p>
                    <p class="service__item__p2">De A à Z pour coller au plus à vos critères et vos besoins. Il peut
                        être utilisé pour tout service, ou présentation de réalisations
                    </p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/commerce_2.svg") }}" alt="">
                    <p class="service__item__p1">Site E-commerce</p>
                    <p class="service__item__p2">Permettre la vente en ligne de vos produits

                    </p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/refonte.svg") }}" alt="">
                    <p class="service__item__p1">Refonte de site</p>
                    <p class="service__item__p2">Optimiser votre site web

                    </p>
                </div>


            </div>
        </div>
    </div>



    <div class="section--white">
        <div class="container">
            <h1 class="section--white__title">Élaboration de stratégie digitale </h1>
            <div class="services">
                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/seo.svg") }}" alt="">
                    <p class="service__item__p1">Référencement</p>
                    <p class="service__item__p2">Vous permet d’être trouvé plus facilement lorsque vous êtes recherché
                        sur internet </p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/audit.svg") }}" alt="">
                    <p class="service__item__p1">Audit de votre site existant </p>
                    <p class="service__item__p2">Une étude que nous faisons sur votre site et de vous proposer des axes
                        d’améliorations</p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/cm.svg") }}" alt="">
                    <p class="service__item__p1">Community Management </p>
                    <p class="service__item__p2">Vous permet d’être trouvé plus facilement lorsque vous êtes recherché
                        sur internet
                    </p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/grap.svg") }}" alt="">
                    <p class="service__item__p1">Conception Graphique</p>
                    <p class="service__item__p2">Afin de permettre aux utilisateurs de vous reconnaitre, un logo, des
                        cartes de visites, des affiches, des bannières etc…
                    </p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/video.svg") }}" alt="">
                    <p class="service__item__p1">Contenu Audiovisuel</p>
                    <p class="service__item__p2">
                        Photographie, Vidéo, Montage, Motion design...

                    </p>
                </div>

                <div class="service__item">
                    <img class="service__item__img" src="{{ asset("img/workshop.svg") }}" alt="">
                    <p class="service__item__p1">Workshop</p>
                    <p class="service__item__p2">Vous permet d’être trouvé plus facilement lorsque vous êtes recherché
                        sur internet
                    </p>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
