{% extends 'base.html.twig' %}

{% block title %}
PopWeb - Contact
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
    </script>
{% endblock %}
{% block meta_description %}<meta name="description" content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}<meta name="keywords" content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}<meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}<meta name="google" content="unavailable_after: [date ]">{% endblock %}


{% block body %}
    <div class="img-banner">
        <img src="{{ asset('pho/banner-blog.jpg') }}" alt="Bannière blog" class="banner">
        <div class="text">
            <h1>Notre Contact</h1>
                <p>Découvrez en plus sur nous, on en découvrira plus sur vous.</p>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
<div class="contact">

<div class="container mt-50 mb-50">
        <div class="row">
        <div class="col-md-8 p40">
        <h2>Contactez nous</h2>
        <p>Une question, un projet, nous vous répondrons au plus vite !</p>

            {{ form_start(formContact,{'attr':{'class':'contact_form','id':'contact-form'}}) }}
            {{ form_row(formContact.fullName , {'attr': {'class': '','placeholder':"Votre nom" }, 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_row(formContact.fromEmail , {'attr': {'class': '','placeholder':"Votre email" }, 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_row(formContact.message , {'attr': {'class': '','placeholder':"Votre message ..." }, 'label_attr': {'class': 'sr-only'}}) }}
            <div class="g-recaptcha" data-sitekey="6Levh-QUAAAAAMEWZS61dszdMbHwyaOLJjKby5Qa" ></div>
            {{ form_end(formContact) }}
        </div>
        <div class="col-md-4 p40 grey-background">
        <h2>Venir nous rencontrer</h2>
        <div class="d-flex">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:contact.popweb@gmail.com">contact.popweb@gmail.com</a>
                </div>

                <div class="d-flex mt-10">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>l'université SP, <br>16 Rue de l'Université, <br>62307 Lens</p>
                </div>
                <div class="social">
                <a href="https://www.facebook.com/popweb.conception/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/PopWeb3" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </div>
        </div>  
        </div>
    </div>


    </div>
</div>


{% endblock %}
{% block javascripts %}
    <script>
        function onSubmit(token) {
            $('#contact-form').submit();
        }
    </script>
{% endblock %}



