

<header>
    <div id="marge-du-header">
        <a href="{{ path("index") }}"><img src="{{ asset("img/logo.svg") }}" alt="Agence Pop Web logo"/></a>
        <div id="menu-du-header">

            <a class="nav-link {% if current_menu is defined and current_menu == 'about' %}active{% endif %}" href="{{path('about')}}">Agence</a>
            <a class="nav-link {% if current_menu is defined and current_menu == 'service' %}active{% endif %}" href="{{path('service.index')}}">Services <span class="sr-only">(current)</span></a>
            {# <a class="nav-link {% if current_menu is defined and current_menu == 'projects' %}active{% endif %}" href="{{path('project.index')}}">Réalisations <span class="sr-only">(current)</span></a> #}
            <a class="nav-link {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}" href="{{path('articles.index')}}">Blog <span class="sr-only">(current)</span></a>
            {# <a class="nav-link {% if current_menu is defined and current_menu == 'jobs' %}active{% endif %}" href="{{path('job.index')}}">Recrutement</a> #}
            <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}" href="{{path('contact.show')}}">Contactez-nous</a>
            {% if app.user %}

                <a class=" {% if current_menu is defined and current_menu == 'logout' %}active{% endif %}" href="{{ path('app_logout') }}">Se déconnecter</a>

                {% if app.environment == "dev" %}
                <a class="nav-link " href="admin">Admin</a>
                {% endif %}

                {% if app.environment == "prod" %}
                    <a class="nav-link " href="/popweb/admin">Admin</a>
                {% endif %}

            {% else %}
                {#
               <a class=" {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('app_login') }}">Se connecter</a>
               <a class=" {% if current_menu is defined and current_menu == 'register' %}active{% endif %}" href="{{ path('app_register') }}">S'inscrire</a>
                   #}
            {%  endif  %}


        </div>
    </div>
</header>

