{% extends 'base.html.twig' %}
{% block title %}Agence Web - PopWeb{% endblock %}
{% block meta_description %}<meta name="description" content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}<meta name="keywords" content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block style_custom %}
    <style>

    </style>

{% endblock %}
{% block body %}

    <div class="margium">
        <p style="display:block; max-width: 720px; margin: auto; font-size:large; padding: 70px 15px 30px 15px; text-align:justify;">
            Nous sommes une agence web fictive formée de 8 étudiants de la licence CréaWeb de Lens. Nous réalisation des
            sites web ainsi que certains contenus numérique pour des associations et les start-ups.
        </p>
    </div>
    <div id="segond-segment" class="margium">
        <img src="{{ asset("pho/surmesure.svg") }}" alt="sur mesure">
        <div id="description-seg">
            <h3>Sur mesure</h3>
            <p>
                Nous concevons des sites web sur mesures pour répondre au mieux à vos besoins ! Adapté à vos besoins,
                votre site web sera plus pertinent. Vous vous démarqueriez des autres nous travaillons pour rendre votre
                site mémorable. </p>
        </div>
    </div>
    <div id="segond-segment" class="margium">
        <img src="{{ asset("pho/top.svg") }}" alt="sur mesure">
        <div id="description-seg">
            <h3>Au top</h3>
            <p>
                Réalisation de qualité : design, chargement, SEO, ergonomie, technique. Notre équipe est capable
                d'intervenir sur tous les aspects d'un site web, ainsi celui-ci n'a plus de secret pour nous. </p>
        </div>
    </div>
    <div id="troisieme-segment">
        <div class="espace">
            <div class="margium">
                <h2>Nos réalisation antérieures </h2>
                <div class="liste">
                    {% for project in favoriteProjects %}
                        <a href="{{ path('project.show', {'slug':project.slug} ) }}" target="_blank" class="card">
                            <img class="d-block w-100 lazyload "
                                 src="{{ asset("img/low_res.jpg") }}"
                                 data-src="{{ app_path_projects_images }}{{ project.image }}"
                                 alt="AlternateText"
                              />
                            <h4>{{ project.title }} </h4>
                        </a>
                    {% endfor %}

                </div>
                <div class="hidden">
                    {% for project in projects %}
                    <a href="https://www.noiseless-rock.fr/" target="_blank"  class="card">
                        <img src="{{ asset("pho/noiseless.svg") }}" alt="noiseless projet"/>
                        <h4>Noiseless </h4>
                    </a>
                    {% endfor %}
                    <a href="https://www.noiseless-rock.fr/" target="_blank"  class="card">
                        <img src="{{ asset("pho/noiseless.svg") }}" alt="noiseless projet"/>
                        <h4>Noiseless </h4>
                    </a>
                    <a href="http://www.musikin.ovh" target="_blank" class="card">
                        <img src="{{ asset("pho/musikin.svg") }}" alt="muskikin projet"/>
                        <h4>Musik'in </h4>
                    </a>
                    <a href="#" class="card">
                        <img src="{{ asset("pho/none.svg") }}" alt="autre projet">
                        <h4>Ne </h4>
                    </a>
                        <a href="{{ path('project.show', {'slug':project.slug} ) }}" target="_blank" class="card">
                            <img class="d-block w-100 lazyload "
                                 src="{{ asset("img/low_res.jpg") }}"
                                 data-src="{{ app_path_projects_images }}{{ project.image }}"
                                 alt="AlternateText"
                            />
                            <h4>{{ project.title }} </h4>
                        </a>
                    {% endfor %}
                </div>
                <a href="#" onclick="unhide(event)"><span class="icon-center fa fa-chevron-down">VOIR PLUS</span></a>
            </div>
        </div>
    </div>
    <div id="quatrieme-segment">
        <div class="margium">

            <h2 class="c">Une question, un projet n'hésitez pas !</h2>
            <p class="c">Nous reviendrons vers vous dans de bref délais</p>

            {{ form_start(formContact) }}
            {{ form_row(formContact.fullName , {'attr': {'class': '','placeholder':"Votre nom" }, 'label': 'Votre nom' }) }}
            {{ form_row(formContact.fromEmail , {'attr': {'class': '','placeholder':"Votre email" }, 'label': 'Votre email'}) }}
            {{ form_row(formContact.message , {'attr': {'class': '','placeholder':"Votre message ..." }, 'label': 'Message','placeholder':"Votre message ..."}) }}



            {{ form_end(formContact) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script  type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        function unhide(e){
            e.preventDefault();
            if( e.target.classList.contains('active')){
                $('.hidden')[0].style.maxHeight  = '0px';
                e.target.innerText = 'VOIR PLUS';
                e.target.classList.toggle('fa-chevron-down');
                e.target.classList.toggle('fa-chevron-up');
                e.target.classList.toggle('active');
            }else{
                $('.hidden')[0].style.maxHeight  = '2500px';
                e.target.innerText = 'VOIR MOINS';
                e.target.classList.toggle('fa-chevron-down');
                e.target.classList.toggle('fa-chevron-up');
                e.target.classList.toggle('active');
            }

        }
        $('.liste').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>
{% endblock %}
