{% extends 'base.html.twig' %}
{% block title %}Agence Web - PopWeb{% endblock %}
{% block gtag %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107718823-2');
</script>
{% endblock %}
{% block meta_description %}<meta name="description" content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}<meta name="keywords" content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}<meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}<meta name="google" content="unavailable_after: [date ]">{% endblock %}
{% block style_custom %}
    <style>

    </style>

{% endblock %}
{% block body %}

    <div class="img-banner">
    <img src="{{ asset('pho/banner.png') }}" alt="Bannière accueil" class="banner">
    <div class="text">
    <h1>POP Web</h1>
    <p>Découvrez la transition numérique.</p>
    </div>
    </div>


    <div class="container mt-50">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{ asset("pho/digital.png") }}" alt="digital" class="w-100 lazyload">
            </div>
            <div class="col-sm-6 d-flex flex-column align-self-center">
                <h3>digital</h3>
                <p>
                    La communication aujourd’hui est avant tout digitale. Le web étant un vecteur de communication
                    important, il est désormais indispensable d’avoir un site web à la fois accessible sur ordinateur,
                    tablette et mobile (qualifié de <i>responsive</i>).
                </p>
            </div>
        </div>
    </div>
    <div class="crea">
        <div class="container">
            <h3>originalité</h3>
            <p>
                Vous devez vous démarquer des autres : la créativité et l’originalité seront à votre service pour cela.
                Nous vous orientons vers ce qui vous aidera à vous différencier de vos concurrents.
            </p>
        </div>
    </div>

    <div class="container mb-50">
        <div class="row">
            <div class="col-sm-6 d-flex flex-column align-self-center">
                <h3>innovation</h3>
                <p>
                    Toute cette communication digitale doit être assurée par une équipe force de propositions, d’idées
                    nouvelles et novatrices. C’est pourquoi vous pouvez nous faire confiance.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="{{ asset("pho/idee.png") }}" alt="idee" class="w-100 lazyload">
            </div>
        </div>
    </div>
    
    {# <div id="troisieme-segment">
        <div class="espace">
            <div class="margium">
                <h3 class="text-center">Découvrez nos autres projets</h3>
                <div class="liste">
                    {% for project in favoriteProjects %}
                        <a href="{{ path('project.show', {'slug':project.slug} ) }}" target="_blank" class="card">
                            <img class="d-block w-100 lazyload "
                                 src="{{ asset("img/low_res.jpg") }}"
                                 data-src="{{ app_path_projects_images }}{{ project.image }}"
                                 alt="AlternateText"
                            />
                            <h4>{{ project.title }} </h4>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> #}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        function unhide(e) {
            e.preventDefault();
            if (e.target.classList.contains('active')) {
                $('.hidden')[0].style.maxHeight = '0px';
                e.target.innerText = 'VOIR PLUS';
                e.target.classList.toggle('fa-chevron-down');
                e.target.classList.toggle('fa-chevron-up');
                e.target.classList.toggle('active');
            } else {
                $('.hidden')[0].style.maxHeight = '2500px';
                e.target.innerText = 'VOIR MOINS';
                e.target.classList.toggle('fa-chevron-down');
                e.target.classList.toggle('fa-chevron-up');
                e.target.classList.toggle('active');
            }

        }

        $('.liste').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>
{% endblock %}
