{% extends '/base.html.twig' %}

{% block title %}
   {{ job.title }}
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ job.title }}</h1>
        </div>
        <div class="job-show">
            <img class="d-block lazyload "
                 src="{{ asset("img/low_res.jpg") }}"
                 data-src="/uploads/images/projects/{{ job.image }}"
                 alt="AlternateText"
                />
            <p>
                {{ job.text | raw}}
            </p>

        </div>
        {% include '/comment/comment.html.twig' %}
    </div>


{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
