{% extends '/base.html.twig' %}

{% block title %}
    PopWeb - Blog
{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-107718823-2');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="img-banner">
        <img src="{{ asset('pho/banner-blog.jpg') }}" alt="Bannière blog" class="banner">
        <div class="text">
            <h1>Notre aide</h1>
            <p>Découvrez l'aide que l'on vous apporte.</p>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1>On peut vous renseigner sur les sujets suivants :</h1>
        </div>
        <div class="row">

            {% for article in articles %}

                <div class="col-sm-4 article-item">
                    <a href="{{ path('article.show',{'slug':article.slug}) }}">
                        <img class="d-block lazyload "
                             src="{{ asset("img/low_res.jpg") }}"
                             data-src="{{ app_path_articles_images }}{{ article.image }}"
                             alt="{{ article.imgAlternate }}"
                        />
                    </a>

                    <a href="{{ path('article.show',{'slug':article.slug}) }}">
                        <h2> {{ article.title|striptags|length >20 ? article.title|striptags|slice(0, 50) ~ '...' : article.title|striptags }} </h2>
                    </a>
                    <p class="p-date" data-date="{{ article.updatedAt| date('U') }}"></p>
                    <p class="p-description">{{ article.description|striptags|length > 100 ? article.description|striptags|slice(0, 100) ~ '...' : article.description|striptags }}</p>
                    <a href="{{ path('article.show',{'slug':article.slug}) }}" class="more">Voir plus</a>
                </div>



            {% endfor %}
            {% if articles|length == 0 %}
                <div class="fullHeight">
                    <p>Les articles seront bientot en ligne :)</p>
                </div>
            {% endif %}
        </div>

    </div>


{% endblock %}


  {% block javascripts %}
      <script>

          document.addEventListener("DOMContentLoaded", function (event) {
              $(function () {

                  moment.locale('fr');
                  $(".p-date").map((x, i) => {
                      i.innerText = moment.unix(i.dataset.date).local().fromNow();
                  });
              });
          });


      </script>
  {% endblock %}
