{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 article-item-show">
                <div id="scene">
                    <img  class="d-block w-100 lazyload p-img"
                         src="{{ asset("img/low_res.jpg") }}"
                         data-src="{{ app_path_articles_images }}{{ article.image }}"
                         alt="AlternateText"
                         height="290px"/>
                    <img src="{{ app_path_default_images }}bg3.gif" class="animated"  id="anim" alt="">

                    <h1  class="p-title">{{ article.title }}</h1>
                </div>

                <div class="p-text">


                    <p class="p-description">{{ article.text | raw }}</p>
                    <p class="p-date">{{ article.updatedAt | date('d/m/Y H:i', timezone='Europe/Paris') }} </p>

                </div>
            </div>
        </div>

        {% include '/comment/comment.html.twig' %}

    </div>


{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(()=>{
            $(function () {
                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();
                    if (scroll >= 300) {
                        $(".animated")[0].classList.add('active');

                    } else {

                    }
                });
            });
        });


    </script>

{% endblock %}



