{% extends 'base.html.twig' %}

{% block title %}
    Project
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="img-banner">
        <img src="{{ asset('pho/banner-blog.png') }}" alt="Bannière blog" class="banner">
        <div class="text">
            <h1>Titre</h1>
            <p>Titre</p>
        </div>
    </div>

    <div class="jumbotron">
         <h1>Nos projets</h1>
    </div>
    <div class="row">

        {% for project in projects %}

            <div class="col-sm-4 article-item">
                <a href="{{ path('project.show',{'slug':project.slug}) }}">
                    <img class="d-block lazyload "
                         src="{{ asset("img/low_res.jpg") }}"
                         data-src="{{ app_path_projects_images }}{{ project.image }}"
                         alt="AlternateText"
                    />
                </a>

                <a href="{{ path('project.show',{'slug':project.slug}) }}">
                    <h2> {{ project.title|striptags|length >20 ? project.title|striptags|slice(0, 50) ~ '...' : project.title|striptags }}  </h2>
                </a>
                <p class="p-date"> Jan 18, 2019 ok </p>
                <p class="p-description">{{ project.text|striptags|length > 100 ? project.text|striptags|slice(0, 100) ~ '...' : project.text|striptags }}</p>
                <a href="{{ path('project.show',{'slug':project.slug}) }}" class="more">Voir plus</a>
            </div>



        {% endfor %}
    </div>

{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
