{% extends 'base.html.twig' %}

{% block title %}
Article
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-10">
            <div class="slider">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div style="    border-radius: 0.25rem;" class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 lazyload " src="{{ asset("img/lowres.png") }}" data-src={{ article.image }} alt="AlternateText" height="290px"/>
                        </div>
                        {#<div class="carousel-item">#}
                        {#<img class="d-block w-100 lazyload " src="{{ asset("img/lowres.png") }}" data-src={{ article.image }} alt="AlternateText" height="290px"/>#}
                        {#</div>#}
                        {#<div class="carousel-item">#}
                        {#<img class="d-block w-100 lazyload " src="{{ asset("img/lowres.png") }}" data-src={{ article.image }} alt="AlternateText" height="290px"/>#}

                        {#</div>#}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="div-cadre-orange">
                <div class="cadre">
                    <div class="cadre margin-top--22">
                        <h1>{{ article.title }}</h1>
                        <h4 class="pb-3" style="float: right;padding: 10px;
 font-size: 1em;">Temps de lecture : <strong>10min</strong></h4>


                        <p>{{ article.text | raw }}</p>

                    </div>

                </div>
            </div>
        </div>




        <div class="col-md-2">
            <div class="div-cadre-orange">
                <div class="cadre">
                    <h4 class="pb-3">Catégorie</h4>
                    <ul class="ul-caracteristiques ">

                        <li style="width: 100%">
                            <div class="badge badge-primary d-inline-flex align-items-center d-flex justify-content-around"
                                 style="padding: 10px;min-width: 100%;">
                                <i class="fas fa-thermometer-half mr-md-3 mr-sm-1" style="font-size: 2.5em"></i>
                                <span class="vertical-align-mid"> {{ article.categorie.name }} </span>
                            </div>

                        </li>
                        <li style="width: 100%">{% if  article.author.username is defined %}
                                {{ article.author.username }}
                            {% endif %}</li>
                        <li>{{ article.createdAt | date('d/m/Y H:i', timezone='Europe/Paris') }}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    {% if app.user %}
        {{ form_start(formComment,{'attr': {'class': 'commentForm'}}) }}
        {{ form_row(formComment.textComment,{'attr': {'class': 'commentForm__textarea'}}) }}
        {{ form_row(formComment.submit,{'attr': {'class': 'commentForm__submit'}}) }}
        {{ form_end(formComment) }}
    {% endif %}


    <section class="comments">
        {% for comment in comments  %}

            <article class="comment" id="commentId-{{ comment.id }}">
                <a class="comment__img" href="#non">
                    <img src="https://api.adorable.io/avatars/50/{{ comment.user.username }}@adorable.io.png" alt="" width="50" height="50">
                </a>
                <div class="comment__body">



                    <div class="comment__header">

                        <a href="#non" class="comment__author">{{ comment.user.username }}</a>
                        <span class="comment__createdat">{{ comment.createdAt| ago }}</span>
                        {% if comment.user == app.user %}
                            <ul class="comment__actions">
                                <li class="comment__edit"><a id="{{ comment.id }}" href="#" onclick="edit(event)" class="btn btn-primary btn-sm"><i class="fa fa-cog"></i></a></li>
                                <li class="comment__edit--validate"><a id="{{ comment.id }}" href="#" onclick="submitEditComment(event)" class="btn btn-primary btn-sm"><i class="fas fa-check"></i></a></li>
                                <li class="comment__delete"><a  href="{{ path('delete.comment',{'comment' : comment.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="comment__text">
                        <p>{{ comment.textComment}}</p>
                    </div>

                </div>

            </article>
        {% endfor %}
    </section>







{% endblock %}


  {% block javascripts %}
      <script>
          function edit(e){

              e.preventDefault();

              let btnEdit = e.currentTarget;
              let btnSubmit= e.currentTarget.parentElement.nextElementSibling.firstChild;
              let commentElem = document.getElementById("commentId-"+btnEdit.attributes[0].value).childNodes[3].childNodes[3];
              //console.log(btnEdit);


              commentElem.innerHTML = "<form id='editFormCommentId-"+btnEdit.attributes[0].value+"' action='/comment/edit/"+ btnEdit.attributes[0].value +"' method='post'><textarea name='comment[textComment]' class='edit_input' />"+ commentElem.innerText + "</textarea></form>";

              btnSubmit.style.display="block";
              btnEdit.style.display="none";
          }
          function submitEditComment(e){
              e.preventDefault();

              let btnSubmit = e.currentTarget;
              let btnEdit= e.currentTarget.parentElement.previousElementSibling.firstChild;
              let commentElem = document.getElementById("commentId-"+btnEdit.attributes[0].value).childNodes[3].childNodes[3].firstChild;
              // document.getElementById("editFormCommentId-"+btnEdit.attributes[0].value).submit();
              //Form submision
              let form = document.getElementById("editFormCommentId-"+btnEdit.attributes[0].value);
              //console.log( document.getElementById("editFormCommentId-"+btnEdit.attributes[0].value).innerText);
              console.log( form.firstChild.value);
              $.ajax({
                  type: 'POST',
                  url: form.attributes[1].value,
                  data: $('form').serialize(),
                  success: function(response) {
                      // console.log(response)
                  },
              });
              commentElem.innerHTML ="<p>"+form.firstChild.value+"</p>"
              btnSubmit.style.display="none";
              btnEdit.style.display="block";
          }

      </script>
  {% endblock %}
